<!DOCTYPE html>
<html>

<head>
  <title>
    Virtual Contest Creator
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/auth/codechef">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
  <header>
    <h1>Virtual contest creator</h1>
  </header>
  <main>
    <% if (user) { %>
      <p>Hello <%= user.username %> </p>
      <a class='codechef-btn' href='/contest/create'>Create new virtual contest </a>
      <p>Here the list of contest you have created:</p>
      <p><%= user.contests %></p>
    <% } else { %>
        <p>Please log in (: </p>
    <% } %>

  </main>
</body>

</html>