body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

a {
  color: #11aaaa;
}
nav{
  background: #11aaaa;
  padding: 20px 10px;
}
nav ul{
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}
nav li{
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a{
  color: #fff;
  font-size: 18px;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
  padding: 10px;
  display: block;
}
main, header{
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color: #333;
}

.codechef-btn{
  border: none;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #00aaaa;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #00aaaa;
  color: white;
  font-size: 18px;
  text-align: center;
}

input[type=number] {
  padding: 10px;
  margin: 5px 0px;
}