<%- include('../header'); -%>

<header>
    <h1>Create your own virtual contest</h1>
</header>

<main>
    <form action="/contest/" method="POST">
        <input type="number" name="minutesToStart" min="0" value="5"/> <span>Minutes before start the virtual contest</span>
        </br>
        <select name="contestCode">
            <% for (i in activeContests) { %>
                <option value="<%= activeContests[i].code %>"> <%= activeContests[i].name %> </option>
            <% } %>
        </select>
        </br></br>
        <input class="codechef-btn" type="submit" value="Create Virtual Contest!">
    </form>
</main>

<%- include('../footer'); -%>